*::-webkit-scrollbar {
    background-color: #f4f6fa;
    width: 10px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f4f6fa;
    box-shadow: inset 0 0 6px #f4f6fa;
    background-color: #f4f6fa;
}

*::-webkit-scrollbar-thumb {
    background-color: #206bc4;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #1d60b0;
}

.page {
    min-height: calc(100vh - 2px);
}

.container-tight {
    max-width: 38rem;
}

#preloader {
    background-color: #f4f6fa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#preloader #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #206bc4;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#preloader #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #4299e1;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#preloader #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #4263eb;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
